@mixin create-selectors($breakpoint: null) {
  $infix: if($breakpoint == null, '', '-#{$breakpoint}');

  @for $i from 1 through $columns {
    .col#{$infix}-#{$i} {
      grid-column-end: span $i;
    }
    .col-offset#{$infix}-#{$i} {
      grid-column-start: $i + 1;
    }
    .row#{$infix}-#{$i} {
      grid-row-end: span $i;
    }
    .row-offset#{$infix}-#{$i} {
      grid-row-start: $i + 1;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: $gap;
  gap: $gap;
}

@include create-selectors;

@each $breakpoint, $width in $breakpoints {
  @media (min-width: $width) {
    @include create-selectors($breakpoint);
  }
}
